* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid silver;
}

.greenBg {
    background-color: #F7FFF6;
}

.height {
    height: 100vh;
}

.bgImg {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
        url(https://images.unsplash.com/photo-1664575197229-3bbebc281874?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.affiliateImg {
    object-fit: contain;
    width: 100%;
    height: 50%;
}

a {
    text-decoration: none;
    color: white;
}

/* Reusable styling */
li {
    list-style-type: none;
}